h1, p {
    text-align: center;
}
ol:hover, ul:hover {
    background-color: blue;
}
ol:active, ul:active {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
li {
    font-style: none;
}
